body{
	margin:0px;
	padding:0px;
	font-family: 'Exo', sans-serif;
	font-weight: 400;
}
.header-wrapper .navbar-nav{
	margin-left: auto;
	align-items: center;
}
.header-wrapper .btn.btn-style{
	margin-left: 20px;
}
.navbar-expand-md .navbar-nav .nav-link{
	font-size: 18px;
    color: #000000;
    font-weight: 700;
    padding: 10px 20px;
    text-align: center;
    line-height: 24px;
}
.navbar-expand-md .navbar-nav .nav-link:hover{
	color: #f4b109;
}
.btn.btn-style{
	background-color: #f4b109;
    padding: 20px 20px;
    color: #000000;
    font-size: 18px;
    border-radius: 50px;
    line-height: 20px;
    font-weight: 700;
}
.btn.btn-style:hover{
	background-color: #000000;
	color: #ffffff;
} 
.banner-section{
	background-image: url("../images/banner-bg.jpg");
	margin: 0px 30px;
	border-radius: 20px;
	text-align: center;
	padding: 150px 0px;
	position: relative;
	z-index: 30;
	background-repeat: no-repeat;
	background-size: cover;
}
.banner-section h1{
	font-size: 52px;
	color: #ffffff;
	font-weight: 700;
	margin-bottom: 20px;
}
.banner-section h1 span{
	color: #f4b109;
}
.banner-section p{
	color: #ffffff;
	text-align: center;
	font-size: 20px;
}
.banner-section .btn.btn-style{
	width: 200px;
	margin: 0px 10px;
}
.button-group{
	margin-top: 35px;
}
.header-wrapper{
	margin-bottom: 5px;
}
.banner-section .btn.btn-style{
	border: 2px solid #f4b109;
}
.banner-section .btn.btn-style:hover{
	border: 2px solid #ffffff;
	background-color: transparent;
}
.available-equipment-section{
	margin-top: -50px;
	position: relative;
	z-index: 50;
}
h2.section-title{
	color: #000000;
	font-weight: 700;
	font-size: 40px;
	text-align: center;
	position: relative;
}
h2.section-title span{
	display: block;
	margin-top: 5px;
}
.available-equipment-section .container{
	border-radius: 20px;
	box-shadow: 0px 0px 10px 0px;
	padding:85px 0px;
	background-color: #ffffff;
}
.equipment-image{
	border-radius: 30px;
	overflow: hidden;
	box-shadow: 0px 0px 10px;
}
.equipment-box{
	margin: 0px 20px;
	text-align: center;
}
.equipment-box h3{
	color: #000000;
	font-size: 18px;
	line-height: 24px;
	text-align: center;
	font-weight: 700;
	margin: 35px 0px 25px;
}
.available-equipment-section .row{
    margin: 50px 20px 0px;
}
.available-equipment-section .btn.btn-style{
	font-weight: 400;
	color: #ffffff;
	padding: 17px 20px;
    width: 200px;
}
.about-section{
	background-image: url("../images/video-bg.jpg");
	background-repeat: no-repeat;
	background-size: cover;
}
.about-vdo{
	background-image: url(../images/vdo-bg.jpg);
	border-radius: 40px;
	border: 3px solid #ffffff;
	height: 500px;
	background-repeat: no-repeat;
	background-size: cover;
	overflow: hidden;
}
.about-section{
	padding: 100px 0px;
	margin-top: 100px;
	border-radius: 20px;
	margin-left: 30px;
	margin-right: 30px;
}
.about-vdo{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 40px;
}
.about-vdo img{
	max-width: 100%;
}
.about-description{
	text-align: center;
	background-color: #ffffff;
	padding: 40px;
	border-radius: 40px;
}
.about-description h5{
	color: #000000;
	font-size:22px;
	font-weight: 700;
}
.about-description h4{
	color: #000000;
	font-size:24px;
	font-weight: 700;
	margin: 20px 0px;
}
.about-description h4 span{
	color: #f4b109;
}
.about-description p{
	font-size:18px;
}
.about-description h6{
	font-size:18px;
	font-weight: 700;
}
.about-description .btn.btn-style{
	color: #ffffff;
    font-weight: 400;
    margin-top: 15px;
}
.testimonials-section{
	background-image: url("../images/testimonial-bg.jpg");
	background-repeat: no-repeat;
	background-size: cover;
}
.testimonials-section .carousel-caption{
	position: static;
	width: 80%;
    margin: auto;
}
.testimonials-section .section-title{
	color: #ffffff;
}
.testimonials-section{
	padding: 90px 0px;
    margin-top: 82px;
    border-radius: 20px;
    margin: 90px 30px 0px;
}
.carousel-caption p{
	font-size: 18px;
	line-height: 28px;
}
.carousel-control-prev-icon{
	background-image: url("../images/arrow-left.png");
	width: 38px;
	height: 38px;
}
.carousel-control-next-icon{
	background-image: url("../images/arrow-right.png");
	width: 38px;
	height: 38px;
}
.testimonials-section .carousel{
	margin-top: 20px;
}
.testimonials-section .carousel-caption p{
	position: relative;
	margin: 0px;
}
.testimonials-section .carousel-caption p:before{
	content: "";
	position: absolute;
	background-image: url("../images/comma-start.png");
	background-repeat: no-repeat;
	width: 24px;
	height: 17px;
	top: 0px;
	left: -35px;
}
.testimonials-section .carousel-caption p:after{
	content: "";
	position: absolute;
	background-image: url("../images/comma-end.png");
	background-repeat: no-repeat;
	width: 24px;
	height: 17px;
	top: 0px;
	right: -35px;
}
.social-icons ul{
	margin: 0px;
	padding: 0px;
	text-align: center;
}
.social-icons ul li{
	list-style: none;
	display: inline-block;
	margin: 0px 3px;
}
.footer-logo{
	width: 250px;
}
.footer-logo img{
	width: 100%;
}
.footer-wrapper{
	padding: 40px 0px;
}
.social-icons{
	padding: 13px 0px;
}
.copyright p{
	margin:0px;
}
.copyright{
	display: flex;
    align-items: center;
    justify-content: flex-end;
    height: 100%;
}
.about-vdo{
	cursor: pointer;
}
.modal-style .modal-body{
    padding: 7px 7px 0px;
}
.modal-style .modal-body iframe{
	width: 100%;
	height: 500px;
}
.modal-dialog{
    max-width: 800px
}
.navbar-brand img{
	width: 100%;
}
.social-icons ul li a img{
	width: 100%;
}
.social-icons ul li a{
	display: inline-block;
}
.equipment-image img{
	width: 100%;
}
.navbar-toggler:focus{
	box-shadow: none;
}
.available-equipment-section.abt-intro .container{
	padding: 40px 0px 85px;
}
.available-equipment-section.abt-intro h2.section-title{
	text-align: left;
	font-size: 35px;
	margin-bottom: 20px;
}
.intro-text p{
	font-size: 18px;
}
.available-equipment-section.abt-intro .btn.btn-style{
	margin-top: 20px;
}
.row-reverse{
	flex-direction: row-reverse;
}
.available-equipment-section.abt-intro .row{
    margin: 50px 20px 80px;
}
.available-equipment-section.abt-intro .row.last-row{
	margin: 50px 20px 0px;
}
.margin-zero{
	margin: 0px !important;
}
.padding-zero{
	padding: 0px !important;
}
.contact-form .form-control,.form-select{
    height: 60px;
    border: 2px solid #615f5f;
    border-radius: 10px;
    margin-bottom: 20px;
}
.contact-form textarea.form-control{
	height: 100px;
}
.available-equipment-section.our-contract-section .row{
	margin: 20px 20px 0px;
}
.form-control:focus,.form-select:focus{
	box-shadow: 0 0 0 0.25rem rgb(244 177 9 / 25%);
	border-color: #615f5f;
}
.btn.btn-style:focus{
	box-shadow: none;
}
.available-equipment-section.our-contract-section .equipment-box{
	margin-top: 30px;
}
.our-location ul li{
    list-style: none;
    display: flex;
    align-items: center;
    margin-bottom: 25px;
}
.our-location ul li p {
    color: #000000;
    font-size: 18px;
    line-height: 20px;
    margin: 0px 0px 0px 10px;
}
.our-location ul{
    padding: 0px;
    margin-top: 40px;
}
.testimonials-section.map-section{
	padding: 0px;
    background: none;
    overflow: hidden;
    box-shadow: 0px 0px 10px 0px;
}
.testimonials-section.map-section iframe{
	width: 100%;
	height: 300px;
}
.intro-text.get-in-touch{
    	margin-top: 0px;
}
.available-equipment-section.abt-intro.testimonial-row .row{
	margin: 50px 20px 0px;
}
.about-section.services-section{
	background-image: url(../images/services-bg.jpg);
}
.about-description ul{
	margin: 0px 0px 25px 20px;
	padding: 0px;
}
.about-description ul li{
	list-style: none;
	display: flex;
    align-items: center;
    margin-bottom: 10px;
}
.about-description ul li i{
	margin-right: 10px;
}
.about-description ul li p{
	margin: 0px;
}
.about-section.services-section .about-description h5{
	color: #f4b109;
}
.about-section.services-section .about-vdo{
	cursor: auto;
}
.about-description.services-description{
	text-align: left;
	padding: 0px;
	background-color: transparent;
}
.about-description.services-description ul{
	margin: 0px 0px 25px 0px;
}
.about-description.services-description h4{
	margin: 0px 0px 20px;
}
@media only screen and (max-width: 1199px){

	.navbar-brand{
    	width: 250px;
	}
	.available-equipment-section.abt-intro h2.section-title{
		font-size: 30px;
	}
}
@media only screen and (max-width: 991px){

	.about-description.services-description{
		margin-top: 40px;
	}
	.available-equipment-section.abt-intro.testimonial-row .row{
		margin: 30px 20px 0px;
	}
	.intro-text{
		margin-top: 40px;
	}
	.available-equipment-section.abt-intro .row {
    	margin: 30px 20px 60px;
	}
	.intro-text.get-in-touch{
		margin-top: 40px;
	}
	.header-wrapper .btn.btn-style{
		display: none;
	}
	.navbar-brand{
    	width: 200px;
	}
	.navbar-expand-md .navbar-nav .nav-link{
		font-size: 16px;
		line-height: 22px;
	}
	.banner-section h1{
		font-size: 42px;
	}
	.banner-section p br{
		display: none;
	}
	.banner-section p{
		font-size: 18px;
	}
	.btn.btn-style{
		padding: 18px 20px;
	}
	.banner-section{
		padding: 115px 0px 150px;
	}
	.available-equipment-section .container{
		padding: 70px 0px;
	}
	.equipment-box{
		margin: 0px;
	}
	.about-section{
		margin-top: 90px;
	}
	.about-vdo{
		margin-right: 0px;
		margin-bottom: 40px;
	}
	.about-vdo{
		height: 400px;
	}
	.about-section{
    	padding: 70px 0px;
	}
	.testimonials-section{
    	padding: 60px 0px;
	}
	.footer-logo{
    	width: 195px;
	}
	.social-icons ul li a{
    	width: 40px;
	}
	.copyright p{
		font-size: 14px;
	}
	.modal-dialog{
    	max-width: 700px;
	}
}
@media only screen and (max-width: 767px){
	
	.about-description.services-description {
    	margin-top: 0px;
	}
	.available-equipment-section.abt-intro .row {
    	margin: 30px 20px 80px;
	}
	.intro-text.get-in-touch {
    	margin-top: 0px;
	}
	.available-equipment-section.abt-intro h2.section-title {
    	font-size: 26px;
	}
	.intro-text p {
    	font-size: 16px;
	}
	.intro-text{
    	margin-top: 0px;
	}
	.modal-dialog{
    	max-width: 500px;
	}
	.modal-style .modal-body iframe{
    	height: 400px;
	}
	.navbar-toggler{
    	background-color: #000000;
	}
	.navbar-toggler-icon{
    	background-image: url(../images/menu-icon.png);
	}
	.banner-section h1{
    	font-size: 34px;
	}
	.btn.btn-style{
    	padding: 13px 20px;
	}
	.banner-section{
    	padding: 90px 0px 120px;
	}
	h2.section-title{
		font-size: 35px;
	}
	.available-equipment-section .container {
    	padding: 50px 0px 10px;
	}
	.available-equipment-section .row{
    	margin: 30px 20px 0px;
	}
	.equipment-box{
		margin-bottom: 50px;
	}
	.about-section{
    	margin-top: 60px;
	}
	.about-section{
    	padding: 60px 0px;
	}
	.about-vdo{
    	height: 350px;
	}
	.about-description h4{
		font-size: 22px;
	}
	.testimonials-section{
		margin: 60px 30px 0px;
	}
	.carousel-caption p{
    	font-size: 16px;
    	line-height: 26px;
	}
	.social-icons ul{
		text-align: left;
	}
	.copyright{
		justify-content: flex-start;
		margin-top: 5px;
	}
	.footer-logo{
		margin-bottom: 10px;
	}
	.footer-logo{
		margin: auto;
	}
	.social-icons ul{
    	text-align: center;
	}
	.copyright{
		justify-content: center;
	}
	.available-equipment-section.abt-intro .container {
    	padding: 40px 0px 60px;
	}
	.available-equipment-section.abt-intro .row.last-row {
    	margin: 30px 20px 0px;
	}
}
@media only screen and (max-width: 575px){
	.available-equipment-section.abt-intro .row.last-row {
    	margin: 10px 20px 0px;
	}
	.available-equipment-section.abt-intro.testimonial-row .row{
		margin: 10px 20px 0px;
	}
	.our-location ul{
    	margin-top: 20px;
	}
	.our-location ul li p{
		font-size: 16px;
	}
	.available-equipment-section.our-contract-section .row {
    	margin: 10px 0px 0px;
	}
	.contact-form .form-control, .form-select{
		height: 50px;
	}
	.available-equipment-section.abt-intro h2.section-title{
	    font-size: 22px;
	    padding: 0px;
	}
	.available-equipment-section.abt-intro .row{
    	margin: 10px 20px 50px;
	}
	.equipment-box {
    	margin-bottom: 40px;
	}
	.modal-dialog{
    	max-width: 300px;
    	margin: auto;
	}
	.modal-style .modal-body iframe{
    	height: 300px;
	}
	.banner-section{
		margin: 0px;
		padding: 60px 0px 40px;
	}
	.navbar-brand{
    	width: 150px;
	}
	.banner-section h1{
    	font-size: 28px;
	}
	
	.banner-section .btn.btn-style{
		margin: 0px 10px 20px;
    	font-size: 16px;
    	padding: 10px 20px;
	}
	.available-equipment-section{
		margin-top: 40px;
	}
	.banner-section p{
    	font-size: 16px;
	}
	h2.section-title{
    	font-size: 28px;
    	padding: 0px 10px;
	}
	.available-equipment-section .btn.btn-style{
		padding: 15px 20px;
		font-size: 16px;
	}
	.about-section{
		margin: 40px 0px;
		padding: 40px 0px;
	}
	.about-vdo{
    	height: 250px;
	}
	.about-description{
		padding: 40px 20px;
	}
	.about-description h4{
    	font-size: 18px;
	}
	.about-description p{
    	font-size: 16px;
	}
	.about-description h6{
    	font-size: 16px;
	}
	.btn.btn-style{
		font-size: 16px;
	}
	.testimonials-section{
    	margin: 40px 0px 0px;
	}
	.testimonials-section {
    	padding: 40px 0px;
	}

}